    h1{
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color:red;
    }
    p{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body{
        background-color:rgb(230, 236, 232);
    }
    /* Criando estilos de classe no CSS */
    .atencao{
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: gray;
    }
    .menu{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color:rgb(6, 6, 77);

    }

    /* Formatando os campos do formulario */

    .campo_nome{
        position: relative;
        left: 14px;
        width: 250px;
        background-color: aliceblue;
        color: blue;
    }
    .campo_email{
        position: relative;
        left: 12px;
        width: 350px;
        background-color: aliceblue;
        color: blue;
    }

    /*  Criando classe para os componentes*/
    /*  contato é  nome do formulario <form id="contato">  */

    #contato{
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color: darkblue;
        background-color: ghostwhite;
        }



        /*  Estilos a serem aplicados no bootstrap */

        .container{
        border: 3px solid red;
        width: 100%;
        }
        .div1{
            background-color: rgb(252, 173, 173);
        }
        .div2{
            background-color: rgb(247, 247, 150);
        }
        .div3{
            background-color: rgb(193, 248, 193);
        }
        .div4{
            background-color: rgb(167, 167, 245);
        }